.themePage {
  text-align: center;
}

.themePage .intro {
  text-align: center;
  margin-bottom: 20px;
}

.themePage .intro h1 {
  font-size: 64px;
}

.themePage .description {
  margin-bottom: 20px;
}

.themePage .description p {
  font-size: 28px;
  line-height: 40px;
}

.themePage .commitment h3 {
  color: #7e7e7e;
  font-size: 16px;
}

.container {
  display: flex;
  width: 100%;
}

.commitment-left,
.commitment-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0px 60px;
}

.commitment-left {
  text-align: right;
}

.commitment-right {
  text-align: left;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7e7e7e;
  font-weight: 500;
  font-size: 1em;
}

.left-span {
  margin-right: -20px;
  font-size: 20px;
}

.right-span {
  margin-left: 20px;
  font-size: 20px;
}

/* Images */

.columns-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.column-image {
  object-fit: cover;
  border-radius: 35px;
  margin-top: 20px;
}

.large-image {
  width: 100%;
  height: 600px;
}

.medium-image {
  width: 100%;
  height: 300px;
}

.small-image {
  width: 100%;
  height: 250px;
}

.medium-large-image {
  width: 100%;
  height: 350px;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .themePage .intro h1 {
    font-size: 50px;
  }

  .commitment-left,
  .commitment-right {
    margin: 0px 40px;
  }

  .large-image {
    height: 500px;
  }

  .medium-image {
    height: 250px;
  }

  .small-image {
    height: 200px;
  }

  .medium-large-image {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .themePage .intro h1 {
    font-size: 40px;
  }

  .commitment-left,
  .commitment-right {
    margin: 0px 20px;
  }

  .large-image,
  .medium-large-image {
    height: 400px;
  }

  .medium-image {
    height: 200px;
  }

  .small-image {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .themePage .intro h1 {
    font-size: 30px;
  }

  .commitment-left,
  .commitment-right {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .columns-container {
    flex-direction: column;
  }

  .column {
    margin: 10px 0px;
  }

  .large-image,
  .medium-large-image {
    height: 300px;
  }

  .medium-image,
  .small-image {
    height: 200px;
  }
}
